Leitor_de_Corrente/NodeRedLeitor_de_Corrente.json
[
    {
        "id": "9eb3f8a0ff9ad96e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ca51762fad2aad5d",
        "type": "mqtt in",
        "z": "9eb3f8a0ff9ad96e",
        "name": "",
        "topic": "CORRENTE_ARTHUR",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f2afcd9280c6108",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 440,
        "wires": [
            [
                "22b426a8c1fda497",
                "09423374e3ed7a18",
                "15d9afb056088635",
                "a22edd6b10fa2b2e",
                "9ed972acab4e247c",
                "cd1a1a0984052318"
            ]
        ]
    },
    {
        "id": "22b426a8c1fda497",
        "type": "debug",
        "z": "9eb3f8a0ff9ad96e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 440,
        "wires": []
    },
    {
        "id": "09423374e3ed7a18",
        "type": "ui_gauge",
        "z": "9eb3f8a0ff9ad96e",
        "name": "",
        "group": "65348a6335e181d9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Medidor",
        "label": "A",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 480,
        "wires": []
    },
    {
        "id": "15d9afb056088635",
        "type": "ui_text",
        "z": "9eb3f8a0ff9ad96e",
        "group": "65348a6335e181d9",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Corrente: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 560,
        "y": 520,
        "wires": []
    },
    {
        "id": "a22edd6b10fa2b2e",
        "type": "ui_chart",
        "z": "9eb3f8a0ff9ad96e",
        "name": "",
        "group": "65348a6335e181d9",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Gráfico de Corrente",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "9ed972acab4e247c",
        "type": "calculator",
        "z": "9eb3f8a0ff9ad96e",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "mult",
        "constant": "220",
        "round": true,
        "truncate": false,
        "decimals": "2",
        "decimals2": 0,
        "x": 560,
        "y": 600,
        "wires": [
            [
                "131d0e80919e7719",
                "bf5edeea366d8639",
                "c256dabff3aaae8b"
            ]
        ]
    },
    {
        "id": "131d0e80919e7719",
        "type": "ui_gauge",
        "z": "9eb3f8a0ff9ad96e",
        "name": "",
        "group": "e2981f442bb1bca9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Medidor",
        "label": "Watts",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 600,
        "wires": []
    },
    {
        "id": "bf5edeea366d8639",
        "type": "ui_chart",
        "z": "9eb3f8a0ff9ad96e",
        "name": "",
        "group": "e2981f442bb1bca9",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Gráfico de Potência",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "c256dabff3aaae8b",
        "type": "ui_text",
        "z": "9eb3f8a0ff9ad96e",
        "group": "e2981f442bb1bca9",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Potência:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 800,
        "y": 680,
        "wires": []
    },
    {
        "id": "cd1a1a0984052318",
        "type": "switch",
        "z": "9eb3f8a0ff9ad96e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 740,
        "wires": [
            [
                "cb8ecb94af624072"
            ]
        ]
    },
    {
        "id": "b5278510df29b820",
        "type": "ui_toast",
        "z": "9eb3f8a0ff9ad96e",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "CORRENTE _ARTHUR",
        "name": "",
        "x": 890,
        "y": 740,
        "wires": []
    },
    {
        "id": "cb8ecb94af624072",
        "type": "template",
        "z": "9eb3f8a0ff9ad96e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Motor com sobrecarga: {{payload}}A",
        "output": "str",
        "x": 700,
        "y": 740,
        "wires": [
            [
                "b5278510df29b820",
                "d01a2328b63fac6d"
            ]
        ]
    },
    {
        "id": "d01a2328b63fac6d",
        "type": "ui_audio",
        "z": "9eb3f8a0ff9ad96e",
        "name": "",
        "group": "65348a6335e181d9",
        "voice": "Microsoft Daniel - Portuguese (Brazil)",
        "always": true,
        "x": 880,
        "y": 800,
        "wires": []
    },
    {
        "id": "228e9452392f8f18",
        "type": "ui_spacer",
        "z": "9eb3f8a0ff9ad96e",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "6c1b3007af48e6a4",
        "type": "ui_spacer",
        "z": "9eb3f8a0ff9ad96e",
        "name": "spacer",
        "group": "011d613611b824a1",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "7ba20371461c475b",
        "type": "ui_spacer",
        "z": "9eb3f8a0ff9ad96e",
        "name": "spacer",
        "group": "65348a6335e181d9",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "f1bb4a58ccaf9988",
        "type": "ui_spacer",
        "z": "9eb3f8a0ff9ad96e",
        "name": "spacer",
        "group": "65348a6335e181d9",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "69f966d162f1064f",
        "type": "ui_spacer",
        "z": "9eb3f8a0ff9ad96e",
        "name": "spacer",
        "group": "e2981f442bb1bca9",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "534caba25795b94e",
        "type": "ui_spacer",
        "z": "9eb3f8a0ff9ad96e",
        "name": "spacer",
        "group": "e2981f442bb1bca9",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "88fd17a71f5a02a5",
        "type": "ui_spacer",
        "z": "9eb3f8a0ff9ad96e",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "fef74be94ca17bd0",
        "type": "ui_spacer",
        "z": "9eb3f8a0ff9ad96e",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "6f2afcd9280c6108",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.101.37",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "65348a6335e181d9",
        "type": "ui_group",
        "name": "Corrente",
        "tab": "8308a98b6d2054c5",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e2981f442bb1bca9",
        "type": "ui_group",
        "name": "Potência",
        "tab": "8308a98b6d2054c5",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "011d613611b824a1",
        "type": "ui_group",
        "name": "DADOS",
        "tab": "71a0cf8aa16fb7e8",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8308a98b6d2054c5",
        "type": "ui_tab",
        "name": "Monitoramento_Gustavo",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "71a0cf8aa16fb7e8",
        "type": "ui_tab",
        "name": "Sensor Ultrasônico",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0ac1c11891eeb511",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.5",
            "node-red-contrib-calc": "1.0.6"
        }
    }
]