SensorDeDistancia/NodeRedSensordeDistancia.json
[
    {
        "id": "4c73c5832fd04b2a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "996c11a07ec3ad7d",
        "type": "debug",
        "z": "4c73c5832fd04b2a",
        "name": "Máquina 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 20,
        "wires": []
    },
    {
        "id": "6ab3765ca5184dd0",
        "type": "ui_button",
        "z": "4c73c5832fd04b2a",
        "name": "",
        "group": "19f43f44dc745327",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "Green",
        "className": "",
        "icon": "",
        "payload": "Ligado",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 120,
        "wires": [
            [
                "996c11a07ec3ad7d",
                "61455eaa9a4fba49"
            ]
        ]
    },
    {
        "id": "d63b022072df3f46",
        "type": "ui_button",
        "z": "4c73c5832fd04b2a",
        "name": "",
        "group": "19f43f44dc745327",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "Red",
        "className": "",
        "icon": "",
        "payload": "Desligado",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 80,
        "wires": [
            [
                "996c11a07ec3ad7d",
                "61455eaa9a4fba49"
            ]
        ]
    },
    {
        "id": "61455eaa9a4fba49",
        "type": "ui_text",
        "z": "4c73c5832fd04b2a",
        "group": "19f43f44dc745327",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 280,
        "y": 180,
        "wires": []
    },
    {
        "id": "b58461d6a5c6e617",
        "type": "debug",
        "z": "4c73c5832fd04b2a",
        "name": "Máquina 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 600,
        "wires": []
    },
    {
        "id": "54c165025851e8c3",
        "type": "ui_button",
        "z": "4c73c5832fd04b2a",
        "name": "",
        "group": "062cc655bf38df0d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "Green",
        "className": "",
        "icon": "",
        "payload": "Ligado",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 700,
        "wires": [
            [
                "b58461d6a5c6e617",
                "47fdc3b48ffa1477"
            ]
        ]
    },
    {
        "id": "8ed1daa4fa9b8de3",
        "type": "ui_button",
        "z": "4c73c5832fd04b2a",
        "name": "",
        "group": "062cc655bf38df0d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "Red",
        "className": "",
        "icon": "",
        "payload": "Desligado",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 660,
        "wires": [
            [
                "b58461d6a5c6e617",
                "47fdc3b48ffa1477"
            ]
        ]
    },
    {
        "id": "47fdc3b48ffa1477",
        "type": "ui_text",
        "z": "4c73c5832fd04b2a",
        "group": "062cc655bf38df0d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 280,
        "y": 760,
        "wires": []
    },
    {
        "id": "1f38cf4e1df131a9",
        "type": "debug",
        "z": "4c73c5832fd04b2a",
        "name": "Máquina 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 20,
        "wires": []
    },
    {
        "id": "c079129baa2f983e",
        "type": "ui_button",
        "z": "4c73c5832fd04b2a",
        "name": "",
        "group": "fe8e1f6ce01213d3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "Green",
        "className": "",
        "icon": "",
        "payload": "Ligado",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 750,
        "y": 120,
        "wires": [
            [
                "1f38cf4e1df131a9",
                "d69d4467117b0d7f"
            ]
        ]
    },
    {
        "id": "1099f029d4a8a494",
        "type": "ui_button",
        "z": "4c73c5832fd04b2a",
        "name": "",
        "group": "fe8e1f6ce01213d3",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "Red",
        "className": "",
        "icon": "",
        "payload": "Desligado",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 750,
        "y": 80,
        "wires": [
            [
                "1f38cf4e1df131a9",
                "d69d4467117b0d7f"
            ]
        ]
    },
    {
        "id": "d69d4467117b0d7f",
        "type": "ui_text",
        "z": "4c73c5832fd04b2a",
        "group": "fe8e1f6ce01213d3",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 960,
        "y": 180,
        "wires": []
    },
    {
        "id": "b055966dd55fc900",
        "type": "debug",
        "z": "4c73c5832fd04b2a",
        "name": "Máquina 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 600,
        "wires": []
    },
    {
        "id": "4429ca69cd85b7cc",
        "type": "ui_button",
        "z": "4c73c5832fd04b2a",
        "name": "",
        "group": "5fe2657f5e2381aa",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "Green",
        "className": "",
        "icon": "",
        "payload": "Ligado",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 770,
        "y": 700,
        "wires": [
            [
                "b055966dd55fc900",
                "3538a55899f5c791"
            ]
        ]
    },
    {
        "id": "0b24646f7485356b",
        "type": "ui_button",
        "z": "4c73c5832fd04b2a",
        "name": "",
        "group": "5fe2657f5e2381aa",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "Red",
        "className": "",
        "icon": "",
        "payload": "Desligado",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 770,
        "y": 660,
        "wires": [
            [
                "b055966dd55fc900",
                "3538a55899f5c791"
            ]
        ]
    },
    {
        "id": "3538a55899f5c791",
        "type": "ui_text",
        "z": "4c73c5832fd04b2a",
        "group": "5fe2657f5e2381aa",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 980,
        "y": 760,
        "wires": []
    },
    {
        "id": "d709b160f95c1bee",
        "type": "ui_slider",
        "z": "4c73c5832fd04b2a",
        "name": "",
        "label": "Simulação: ",
        "tooltip": "",
        "group": "19f43f44dc745327",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "8f6f134a3dcb4ef3",
                "7b2f9b2dcf1180b1"
            ]
        ]
    },
    {
        "id": "8f6f134a3dcb4ef3",
        "type": "ui_gauge",
        "z": "4c73c5832fd04b2a",
        "name": "",
        "group": "19f43f44dc745327",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Medidor",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 280,
        "y": 240,
        "wires": []
    },
    {
        "id": "e8a5c4a35a23a7a9",
        "type": "ui_slider",
        "z": "4c73c5832fd04b2a",
        "name": "",
        "label": "Simulação: ",
        "tooltip": "",
        "group": "062cc655bf38df0d",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 770,
        "y": 240,
        "wires": [
            [
                "f68da9557f9e30e4",
                "a94bc9d44b681f5f"
            ]
        ]
    },
    {
        "id": "f68da9557f9e30e4",
        "type": "ui_gauge",
        "z": "4c73c5832fd04b2a",
        "name": "",
        "group": "062cc655bf38df0d",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Medidor",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 960,
        "y": 240,
        "wires": []
    },
    {
        "id": "01052a0df607ba75",
        "type": "ui_slider",
        "z": "4c73c5832fd04b2a",
        "name": "",
        "label": "Simulação: ",
        "tooltip": "",
        "group": "fe8e1f6ce01213d3",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 90,
        "y": 820,
        "wires": [
            [
                "16d5f74aeb1d6791",
                "b371d371d0a79fa7"
            ]
        ]
    },
    {
        "id": "16d5f74aeb1d6791",
        "type": "ui_gauge",
        "z": "4c73c5832fd04b2a",
        "name": "",
        "group": "fe8e1f6ce01213d3",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Medidor",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 280,
        "y": 820,
        "wires": []
    },
    {
        "id": "e41dd9f038c0f9fa",
        "type": "ui_slider",
        "z": "4c73c5832fd04b2a",
        "name": "",
        "label": "Simulação: ",
        "tooltip": "",
        "group": "5fe2657f5e2381aa",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 790,
        "y": 820,
        "wires": [
            [
                "15020e8763530740",
                "effb199ab0681f14"
            ]
        ]
    },
    {
        "id": "15020e8763530740",
        "type": "ui_gauge",
        "z": "4c73c5832fd04b2a",
        "name": "",
        "group": "5fe2657f5e2381aa",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Medidor",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 980,
        "y": 820,
        "wires": []
    },
    {
        "id": "7b2f9b2dcf1180b1",
        "type": "ui_chart",
        "z": "4c73c5832fd04b2a",
        "name": "",
        "group": "19f43f44dc745327",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Análise",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 280,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a94bc9d44b681f5f",
        "type": "ui_chart",
        "z": "4c73c5832fd04b2a",
        "name": "",
        "group": "062cc655bf38df0d",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Análise",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 960,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "b371d371d0a79fa7",
        "type": "ui_chart",
        "z": "4c73c5832fd04b2a",
        "name": "",
        "group": "fe8e1f6ce01213d3",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Análise",
        "chartType": "pie",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 280,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "effb199ab0681f14",
        "type": "ui_chart",
        "z": "4c73c5832fd04b2a",
        "name": "",
        "group": "5fe2657f5e2381aa",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Análise",
        "chartType": "radar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "19f43f44dc745327",
        "type": "ui_group",
        "name": "Máquina 1",
        "tab": "c070b45819c6067b",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "062cc655bf38df0d",
        "type": "ui_group",
        "name": "Máquina 2",
        "tab": "c070b45819c6067b",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fe8e1f6ce01213d3",
        "type": "ui_group",
        "name": "Máquina 3",
        "tab": "c070b45819c6067b",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5fe2657f5e2381aa",
        "type": "ui_group",
        "name": "Máquina 4",
        "tab": "c070b45819c6067b",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c070b45819c6067b",
        "type": "ui_tab",
        "name": "Controle e Monitoramento IoT",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]